html,
body {
  font-family: YakuHanJP, Roboto, SF Pro, Hiragino Kaku Gothic ProN, Noto Sans, Noto Sans JP, sans-serif;
}
.ggj-wt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ggj-wt-l-2 {
  -webkit-line-clamp: 2;
}
.ggj-wt-l-3 {
  -webkit-line-clamp: 3;
}
.ggj-wt-l-4 {
  -webkit-line-clamp: 4;
}
.ggj-scrollbar::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
.ggj-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 4px;
}

.ggj-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 7px;
  cursor: pointer;
}
